<!DOCTYPE html>
<html  ng-app="AdminApp">
<head>
    <title>ASD</title>
    <meta charset="utf-8">
    <link rel='stylesheet'  href="vendor/bower_components/bootstrap/dist/css/bootstrap.css"/>

    <script src="http://nervgh.github.io/js/es5-shim.min.js"></script>
    <script src="http://nervgh.github.io/js/es5-sham.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />


    <style>
        .my-drop-zone { border: dotted 3px lightgray; }
        .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
        .another-file-over-class { border: dotted 3px green; }
        html, body { height: 100%; }
    </style>

    <link rel="stylesheet" href="admin/css/style.css">

    <script src="vendor/bower_components/angular/angular.js"></script>
    <!--<script src="http://code.angularjs.org/1.1.5/angular.min.js"></script>-->
    <script src="vendor/bower_components/angular/angular-route.js"></script>
    <script src="vendor/bower_components/angular/angular-resource.js"></script>
    <script src="vendor/bower_components/angular/angular-file-upload.js"></script>

    <script src="admin/js/app.js"></script>
    <script src="admin/js/routes.js"></script>

    <script src="admin/js/controllers/adminController.js"></script>
    <script src="admin/js/controllers/postController.js"></script>
    <script src="admin/js/controllers/userController.js"></script>
    <script src="admin/js/controllers/galleryController.js"></script>

    <script src="admin/js/services/signOutService.js"></script>
    <script src="admin/js/services/postService.js"></script>
    <script src="admin/js/services/userService.js"></script>

    <!--
    <script src="admin/js/controllers/galleryController.js"></script>
    <script src="admin/js/controllers/postController.js"></script>
    <script src="admin/js/controllers/signController.js"></script>
    <script src="admin/js/controllers/contactController.js"></script>

    <script src="admin/js/services/signServices.js"></script>
    <script src="admin/js/services/postServices.js"></script>-->


    <!--<script src="js/front/controllers/controllers.js"></script>-->
    <!--<script src="js/front/services/services.js"></script>-->


</head>
<body ng-controller="AdminController as vm">

<div class="container">

    <!-- Static navbar -->
    <%-partial('./partials/topNavigation')%>

    <div ng-view></div>

</div> <!-- /container -->

<!--<script src="vendor/bower_components/bootstrap/dist/js/bootstrap.js"></script>-->
</body>
</html>