<% layout('layout/page')%>
<% block('title', 'IndexTitle')%>
<% block('header', 'IndexHeader')%>
<% block('footer', 'IndexFooter')%>
<h1 class="lead">Index</h1>
<%if(user){%>
<p>Wellcome to Console,  <%=user.get('username')%></p>
<%}%>
<a href="/admin/users">Users</a>
<a href="/admin/adverts">Adverts</a>

