<!DOCTYPE html>
<html  ng-app="FrontApp">
<head>
    <title>ASD</title>
    <meta charset="utf-8">
    <link rel='stylesheet'  href="vendor/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="front/css/style.css">

    <script src="vendor/bower_components/angular/angular.js"></script>
    <script src="vendor/bower_components/angular/angular-route.js"></script>
    <script src="vendor/bower_components/angular/angular-resource.js"></script>

    <script src="front/js/app.js"></script>


    <script src="front/js/routes.js"></script>

    <script src="front/js/controllers/frontController.js"></script>
    <script src="front/js/controllers/galleryController.js"></script>
    <script src="front/js/controllers/postController.js"></script>
    <script src="front/js/controllers/signController.js"></script>
    <script src="front/js/controllers/contactController.js"></script>

    <script src="front/js/services/signServices.js"></script>
    <script src="front/js/services/postServices.js"></script>


    <!--<script src="js/front/controllers/controllers.js"></script>-->
    <!--<script src="js/front/services/services.js"></script>-->


</head>
<body ng-controller="FrontController as vm">

<div class="container">

    <!-- Static navbar -->
    <%-partial('./partials/topNavigation')%>


    <div ng-view></div>

</div> <!-- /container -->

    <!--<script src="vendor/bower_components/bootstrap/dist/js/bootstrap.js"></script>-->
</body>
</html>