<h3>Sign up</h3>

<form name="signUp">
    <div class="form-group">
        <label for="login">Login</label>
        <input type="text" class="form-control" ng-model="vm.login" id="login" placeholder="login@login.com" required>
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" ng-model="vm.password" id="password" placeholder="******" required>
    </div>

    <div class="form-group">
        <label for="confpassword">Confirm password</label>
        <input type="password" class="form-control" ng-model="vm.confpassword" id="confpassword" required>
    </div>

    <button ng-click="vm.regUser()" class="btn btn-default" ng-disabled="signUp.$invalid">Sign up</button>
</form>