<div class="lead">Details post</div>

<form name="detailsPost">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" ng-model="vm.title" id="login" placeholder="title" disabled>
    </div>

    <div class="form-group">
        <label for="brief">Brief content</label>
        <textarea type="text" class="form-control" ng-model="vm.brief" id="brief" disabled></textarea>
    </div>

    <div class="form-group">
        <label for="extended">Extended content</label>
        <textarea type="text" class="form-control" ng-model="vm.extended" id="extended" disabled></textarea>
    </div>

</form>