<div class="lead">Post page</div>

<!--<a class="btn btn-primary" href="#/createpost">Create post</a>-->

<!--<button class="btn btn-primary" ng-click="vm.showPosts()">Get Posts</button><br>-->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            Search: <input ng-model="query">
            <p>{{query}}</p>
        </div>
        <ul class="col-md-10">
            <li ng-repeat="post in vm.posts | filter: query" class="thumbnail" style="margin-bottom: 30px">
                <div class="lead">Title: <a href="#post/{{post._id}}">{{post.title}}</a></div>
                <div class="content">Brief content: {{post.content.brief}}</div>
                <div>Author: {{post.Author.login}}</div>
                <a href="#post/{{post._id}}" class="btn btn-primary" role="button">read more</a>
            </li>
        </ul>
    </div>
</div>

