<div class="lead">Manage</div>
<hr>
<p>POSTS</p>
<p class="lead"><a href="#/posts">Posts</a></p>

<p>GALLERIES</p>
<p class="lead"><a href="#galleries">Galleries</a></p>

<p>USERS</p>
<p class="lead"><a href="#/users">Users</a></p>
