<div class="lead">Chane password</div>

<form name="changePassword" class="col-md-5">
    <div class="form-group">
        <label for="login">Current password</label>
        <input type="password" class="form-control" ng-model="vm.oldPassword" id="login" required>
    </div>

    <div class="form-group">
        <label for="newPass">New password</label>
        <input type="password" class="form-control" ng-model="vm.newPassword" id="newPass" required>
    </div>

    <div class="form-group">
        <label for="conf">Confirm new password</label>
        <input type="password" class="form-control" ng-model="vm.confNewPassword" id="conf" required>
    </div>

    <button ng-click="vm.changePassword()" class="btn btn-default" ng-disabled="changePassword.$invalid">Change</button>
</form>