<div class="lead">Profile page</div>

<div class="well col-md-5">
    <p>Login: {{vm.user[0].login}}</p>
    <p>Firstname: {{vm.user[0].name.firstname}}</p>
    <p>Lastname: {{vm.user[0].name.lastname}}</p>
    <p>Phone: {{vm.user[0].phone}}</p>
</div>
<div class="col-md-3">
    <p><a href="#/editProfile">Edit profile</a></p>
    <p><a href="#/changePass">Change password</a></p>
</div>
